<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.social.sociallogin">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Use For Facebook Login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
             />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="01435911c6b336b89b21bbf95dbf1cc0087e3f40" />
    </application>

</manifest>
